body {
    background-color: #C4A484;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 18px;
    color: black;
}

h1 {
    font-weight: 800;
    font-size: 4em;
}

h2 {
    color: #152238;
    font-weight: 700;
}

h3 {
    color: #152238;
    font-style: italic;
}

h4 {
    font-style: italic;
}


img {
    width: 385px;
    height: 515px;
    border-radius: 50%;
}

div {
    padding: 10px;
}

a {
    font-size: 1.25em;
    color: black;
    text-decoration: none;
    cursor: auto;
}